:root {
    --gradient: linear-gradient(
        180deg,
        #080808,
        #6699cc
    );
}

@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Regular.otf)
}

* {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    box-sizing: border-box;
}

html {
    background-color: #080808;
    overscroll-behavior: contain;
    width: 100%;
  }

body {
    font-size: 100%;
    font-family: sans-serif;
    color: #fff;
    width: 100%;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
}

#home {
    background: var(--gradient);
    width: 100%;
}

.intro_div {
    /*outline: red dashed 1px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header_container {
    /*outline: yellow dashed 1px;*/
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#name {
    font-weight: 100;
    font-size: 96px;
    padding-left: 4%;
    font-stretch: expanded;
}

#p1 {
    width: 500px;
    padding-left: 9%;
    font-weight: 100;
    font-size: 48px;
    font-stretch: expanded;
}

.header-button {
    margin: 10px;
    height: 120px;
    width: 120px;
    background-color: transparent;
    opacity: 1;
    border-radius: 28%;
    display: inline-block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: border-radius 0.3s; /* Apply a smooth transition on border-radius */
    color: white;
    font-size: 3rem;
}

.header-button:hover {
    border-radius: 50%; /* Make it a circle on hover */
  }

.resume-button {
    font-size: 3rem;
}

#projects {
    background-color: #6699cc;
}

.project-item {
    width: 45%;
    height: 250px;
    margin: 10x;
    border: 3px solid #d9a4a4;
    background-color: #dfdfdf;
    flex-shrink: 1;
    box-shadow: #080808;
}

.projects_container {   /* maybe use grid instead of flexbox? */
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 5em;
}

#contacts {
    background-color: black;
}

.contact-button {
    margin: 10px;
    height: 120px;
    width: 120px;
    background-color: transparent;
    opacity: 1;
    border-radius: 28%;
    display: inline-block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: border-radius 0.3s; /* Apply a smooth transition on border-radius */
    color: white;
    font-size: 3rem;
}

.contact-button:hover {
    border-radius: 50%; /* Make it a circle on hover */
  }


@media screen and (max-width: 600px)
{
    body {
        position: absolute;
    }

    section {
        width: 100%;
    }
}