:root {
    --gradient: linear-gradient(
        180deg,
        #080808,
        #6699cc
    );
}

@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Regular.otf)
}

* {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    box-sizing: border-box;
}

html {
    background-color: #080808;
    overscroll-behavior: contain;
  }

body {
    font-size: 100%;
    font-family: sans-serif;
    color: #fff;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
}

.intro_div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#name {
    font-weight: 100;
    font-size: 96px;
    padding-left: 5%;
    font-stretch: expanded;
}

#p1 {
    width: 500px;
    padding-left: 10%;
    font-weight: 100;
    font-size: 48px;
    font-stretch: expanded;
}

.vid {

}

#home {
    background: var(--gradient);
}

#projects {
    background-color: #6699cc;
}

#contacts {
    background-color: black;
}