:root {
    --gradient: linear-gradient(
        180deg,
        black,
        #6699cc
    );
    --gradientwo: linear-gradient(
        0deg,
        black,
        #6699cc
    );
}

@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Regular.otf)
}

@font-face {
    font-family: "Avenir Bold";
    src: url(fonts/AvenirNextLTPro-Bold.otf)
}

* {
    margin:0;
    padding:0;
    font-family: "Avenir Next";
    box-sizing: border-box;
}

html {
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-color: black;
    overscroll-behavior: contain;
  }

body {
    height: 100vh;
    height: 100svh;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    color: #fff;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}



/* ############################################################ HOME SECTION ############################################################ */
#home {
    width: 100%;
    height: 100%;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_div {
    /*outline: red dashed 1px;*/
    display: flex;
    max-width: 45%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header_text_container {
    /*outline: yellow dashed 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#location {
    padding-bottom: 40px;
    font-size: 1.5rem;
}

#name {
    font-weight: 200;
    font-size: 6rem;
    font-stretch: expanded;
    white-space: nowrap;
}

#title {
    font-weight: 200;
    font-size: 3rem;
    font-stretch: expanded;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.header_buttons_container {
    /*outline: yellow dashed 1px;*/
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.header-button {
    /*outline: red dashed 1px;*/
    height: 120px;
    width: 120px;
    background-color: transparent;
    opacity: 1;
    border-radius: 32%;
    display: inline-block;
    border: none;
    font-size: 3.5rem;
    cursor: pointer;
    transition-property: color, font-size;
    transition-duration: 0.4s; /* Apply a smooth transition on border-radius */
    color: white;
}

.header-button:hover {
    font-size: 4rem;
    color:#6699cc; /* Changes colour on hover  */
}
/* ############################################################ HOME SECTION ############################################################ */



/* ############################################################ PROJECTS SECTION ############################################################ */
#projects {
    /*outline: red dashed 1px;*/
    height: 100%;
    height: 100%;
    background-color: #6699cc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper {
    /*outline: red dashed 1px;*/
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_container { 
    position: relative;
    display: flex;
    margin: 30px;
    grid-auto-flow: dense;
    grid-gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.project-item {
    flex: 1 1 33%;
    min-height: 50vh;
    border-radius: 18px;
    padding: 0px;
    display: grid;
    font-size: 1.7rem;
    transition-duration: 0.4s;
}

.project-item:hover {
    background: var(--gradient);
    color:#fff;
    display: grid;
    min-height: 50vh;
}

.content {
    margin: 20px;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.surge-container {
    display: inline-block;
    /*outline: pink dashed 1px;*/
}

.surge {
    background: url(images/surge_new.png);
    background-position: center center;
    background-size: contain;
    color: transparent;
    background-repeat: no-repeat;
}

.portfolio {
    background: url(images/ppwebsite.png);
    background-position: center center;
    background-size: contain;
    color: transparent;
    background-repeat: no-repeat;
}

.truboba {
    background: url(images/truBoba_website.png);
    background-position: center center;
    background-size: contain;
    color: transparent;
    background-repeat: no-repeat;
}

#info {
    font-size: 1.2rem;
    line-height: 1.6;
}

#role {
    padding-top: 8px;
    font-size: 1.8rem;
}

.demo-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CSS */
#demo-button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    margin-top: 20px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 2.5;
    outline: transparent;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    }

#demo-button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#demo-button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    display: inline-block;
}

.project-item .demo-button-container {
    display: none;
}
.project-item:hover .demo-button-container {
    display: inline;
}
/* ############################################################ PROJECTS SECTION ############################################################ */



/* ############################################################ TESTIMONIALS SECTION ############################################################ */
#testimonials {
    height: 100%;
    width: 100%;
    background: var(--gradientwo);
    padding-top: 2rem;
}

.testimonials-wrapper{
    /*outline: red dashed 1px; */
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 80px;
    overflow: hidden;
}

.tesitmonial-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.slide-row {
    display: flex;
    width: 200%;
    transition: 0.8s;
    scroll-snap-type: x proximity;
}

.testimonial-wrapper .testimonial-container {
    padding-top: 1rem;
    /*outline: yellow dashed 1px;*/
    margin: 0 auto;
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.slide {
    /*outline: blue dashed 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    box-sizing: border-box;
    min-width: 50%;
}

.test-info {
    /*outline: rgb(241, 10, 172) dashed 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: 1.4rem;
    box-sizing: border-box;
    min-height: 30vh;
    text-justify: distribute-all-lines;
}

.test-figure {
    /*outline: hsl(240, 100%, 85%) dashed 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    font-size: 1.1rem;
    padding: 25px;
}

#employer {
    font-size: 1.4rem;
    font-family: "Avenir Bold";
}

.btn {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 4px;
    border-radius: 15px;
    background: whitesmoke;
    cursor: pointer;
    transition: 0.8s;
}

.active {
    width: 60px;
}

.indicator-container {
    display: flex;
    justify-content: center;
}
/* ############################################################ TESTIMONIALS SECTION ############################################################ */



/* ############################################################ CONTACT SECTION ############################################################ */
#contact {
    /*outline: green dashed 1px;*/
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
}

.contact-buttons-container {
    /*outline: yellow dashed 1px;*/
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.contact-button {
    margin: 10px;
    height: 120px;
    width: 120px;
    background-color: transparent;
    opacity: 1;
    border-radius: 28%;
    display: inline-block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 4.5rem;
    transition-property: color, font-size;
    transition-duration: 0.4s;
    color: white;
}

.contact-button:hover {
    font-size: 5rem;
    color:#6699cc;
}

.footer {
    background: black;
    min-height: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#signature {
    margin:5px;
    margin-bottom: 20px;
}
/* ############################################################ CONTACT SECTION ############################################################ */

@media (max-width: 400px)
{

    section {
        height: 100vh;
        width: 100%;
    }

    body {
        height: 100vh;
        height: 100svh;
        width: 100%;
        font-size: 100%;
        font-family: sans-serif;
        color: #fff;
        position: flex;
        flex-direction: column;
    }

    #location {
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 20px;
    }

    #name {
        font-weight: 600;
        font-size: 3.5rem;
        font-stretch: expanded;
        white-space: nowrap;
    }
    
    #title {
        font-weight: bold;
        font-size: 1.75rem;
        font-stretch: expanded;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
    }

    .header-button {
        /*outline: red dashed 1px;*/
        height: 80px;
        width: 80px;
        background-color: transparent;
        opacity: 1;
        border-radius: 28%;
        display: inline-block;
        border: none;
        font-size: 2.5rem;
        cursor: pointer;
        transition-property: color, font-size;
        transition-duration: 0.4s;
        color: white;
    }
    
    .header-button:hover {
        font-size: 3rem;
        color:#6699cc; /* Changes colour on hover  */
      }

    .wrapper {
        /*outline: red dashed 1px;*/
        margin: 0 auto;
        width: 95%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project-item {
        flex: 1 1 100%;
        min-height: 30vh;
        min-width: 90vw;
        border-radius: 18px;
        padding: 0px;
        display: grid;
        font-size: 0.5rem;
        transition-duration: 0.4s;
        flex-basis: 250px;
    }
    
    .project-item:hover {
        background: var(--gradient);
        color:#fff;
        flex-basis: 300px;
        min-height: 20vh;
    }
    
    .content {
        margin: 20px;
        padding: 0px;
        font-size: 1rem;
    }

    #info {
        font-size: 0.5rem;
    }

    #demo-button {
        margin-top: 10px;
        padding: 10px;
        line-height: 1;
        font-size: 0.6rem;
    }

    .testimonials-wrapper{
        /*outline: red dashed 1px; */
        margin: 0 auto;
        width: 85%;
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
    }
    
    .tesitmonial-slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    
    .slide-row {
        display: flex;
        width: 200%;
        transition: 0.8s;
    }
    
    .testimonial-wrapper .testimonial-container {
        padding-top: 1rem;
        outline: yellow dashed 1px;
        margin: 0 auto;
        width: 60%;
        height: 80vh;
        display: flex;
        justify-content:center;
        align-items: flex-start;
    }
    
    .slide {
        /*outline: blue dashed 1px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        min-width: 50%;
        min-height: 80%;
    }
    
    .test-info {
        /*outline: rgb(241, 10, 172) dashed 1px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2.5;
        font-size: 0.8rem;
        font-weight: 700;
        box-sizing: border-box;
        min-height: 30vh;
        text-justify: distribute-all-lines;
    }
    
    .test-figure {
        /*outline: hsl(240, 100%, 85%) dashed 1px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1.6;
        font-size: 1.1rem;
        padding: 10px;
    }
    
    #employer {
        font-size: 0.9rem;
        font-family: "Avenir Bold";
    }

    #employer-title {
        font-weight: 500;
        font-size: 0.7rem;
    }
    
    .btn {
        display: inline-block;
        height: 25px;
        width: 25px;
        margin: 4px;
        border-radius: 15px;
        background: whitesmoke;
        cursor: pointer;
        transition: 0.8s;
    }
    
    .active {
        width: 60px;
    }
    
    .indicator-container {
        display: flex;
        justify-content: center;
    }

    .contact-buttons-container {
        /*outline: yellow dashed 1px;*/
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-button {
        margin: 10px;
        height: 120px;
        width: 120px;
        background-color: transparent;
        opacity: 1;
        border-radius: 28%;
        display: inline-block;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: white;
        font-size: 3.5rem;
        transition-property: color, font-size;
        transition-duration: 0.4s;
        color: white;
    }
    
    .contact-button:hover {
        font-size: 4rem;
        color:#6699cc; /* Changes colour on hover  */
    }

    #signature {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

}   
